<div class="card card-bordered card-compact bg-base-100 shadow-xl relative">
  <figure>
    <%= link_to anime_path(anime) do %>
      <%= image_tag anime.image_url, class: "object-cover" %>
    <% end %>
  </figure>

  <div class="card-body p-4">
    <div class="flex gap-2 justify-between">
      <h2 class="card-title text-base"><%= anime.title %></h2>

      <% if user_owns_list?(list) %>
        <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{anime.title} from your #{@list.name} list" }, class: "text-danger" do %>
          <%= icon "trash", library: "heroicons", class: "h-5 w-5 text-red-800 transition-transform duration-200 hover:scale-110 hover:text-red-500" %>
        <% end %>
      <% end %>
    </div>

    <div class="flex gap-2 justify-between">
      <p class="text-sm"><%= bookmark.comment %></p>

      <% if user_owns_list?(list) %>
        <button onclick="document.getElementById('modal_<%= bookmark.id %>').showModal()">
          <%= icon "pencil", library: "heroicons", class: "h-5 w-5 text-black-900 mt-1" %>
        </button>

        <dialog id="modal_<%= bookmark.id %>" class="modal modal-bottom sm:modal-middle">
          <div class="modal-box pt-10">
            <form method="dialog">
              <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>

            <%= simple_form_for [ list, bookmark ]  do |form| %>
              <%= form.input :comment, as: :text, label: false, input_html: { class: 'textarea textarea-bordered' } %>
              <div class="modal-action">
                <form method="dialog">
                  <%= form.submit "Update", class: "btn btn-primary btn-xs float-right" %>
                </form>
              </div>
            <% end %>
          </div>
        </dialog>
      <% end %>
    </div>
  </div>
</div>
