<div class="max-w-sm md:max-w-3xl mb-20 px-4 pt-4 mx-auto">
  <%= simple_form_for @list, html: { class: "grid grid-cols-3 w-full max-w-sm gap-4 mb-8 sm:hidden"}  do |f| %>
    <%= f.input :name, label: false, placeholder: "List Name", input_html: { class: "input input-bordered w-full max-w-sm" }, wrapper_html: { class: "col-span-2" } %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <% @lists.each do |list| %>
    <div class="flex flex-col gap-2 mb-4">
      <%= link_to list_path(list), class: "flex flex-col gap-2" do %>
        <p><%= list.name %></p>
      <% end %>

      <%= render partial: "animes/anime_card", locals: { animes: list.animes, list: list } %>
    </div>
  <% end %>

</div>
