<div class="w-96">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <p><%= list.name %></p>
    <% end %>

    <p class=""><%= link_to "delete", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{list.name} list" }, class: "text-danger" %></p>

    <% list.animes.each do |anime| %>
      <%= image_tag anime.image_url, width: 200, height: 300 %>

    <% end %>
  <% end %>

  <div>
    <h3>Create a new list</h3>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name, placeholder: "List Name", input_html: { class: "input input-bordered w-full max-w-xs" } %>
      <%= f.submit class: "" %>
    <% end %>
  </div>
</div>
