<div class="w-96 mb-16">
  <h1 class="text-4xl"><%= @list.name %></h1>

  <% if user_owns_list?(@list) %>
    <div class="my-8">
      <%= simple_form_for [ @list, @bookmark ] do |f| %>
        <div class="flex flex-col gap-4">
          <%= f.association :anime, label: false, collection: Anime.all.order(:title), prompt: "Select a anime", wrapper: false,  input_html: { class: "select select-bordered w-full max-w-sm"} %>
          <%= f.input :comment, label: false, placeholder: "Enter a comment about the anime" , input_html: { class: "input input-bordered w-full max-w-sm"} %>
        </div>

        <div class="flex justify-end">
          <%= f.submit "Add anime", class: "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="flex flex-col gap-4">
    <% @list.animes.each do | anime | %>
      <% bookmark = Bookmark.find_by(list: @list, anime: anime) %>

      <%= render partial: "list_anime_card", locals: { anime: anime, bookmark: bookmark, list: @list } %>
    <% end %>
  </div>
</div>
