<div class="mx-auto md:w-2/3 w-full mt-4">
  <h1 class="font-bold text-4xl">Sign Up</h1>

  <%= simple_form_for @user, html: { class: "space-y-6" } do |f| %>
    <div class="my-5">
      <%= f.input :email_address,
                    label: false,
                    required: true,
                    autofocus: true,
                    autocomplete: "username",
                    placeholder: "Enter your email address",
                    value: params[:email_address],
                    input_html: { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="my-5">
      <%= f.input :password,
                    label: false,
                    required: true,
                    autocomplete: "current-password",
                    placeholder: "Enter your password",
                    maxlength: 72,
                    input_html: { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="my-5">
      <%= f.input :password_confirmation,
                    label: false,
                    required: true,
                    autocomplete: "new-password",
                    placeholder: "Confirm your password",
                    input_html: { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= f.button :submit, "Create Account", class: "w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600" %>
      </div>

      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        <%= link_to "Login", new_session_path	, class: "text-blue-500 hover:underline" %>
      </div>
    </div>
  <% end %>
</div>
