<div class="flex flex-col gap-4 mb-20 mx-auto">
  <div
    class="bg-cover bg-center h-[38rem] flex items-end sm:w-96 sm:mx-auto"
    style="background-image: url('<%= @data["images"]["webp"]["large_image_url"] %>'); -webkit-mask-image: linear-gradient(to bottom, black, transparent); mask-image: linear-gradient(to bottom, black, transparent);"
  >
  </div>

  <div class="flex flex-col gap-4 w-96 mx-auto">
    <h1 class="text-xl text-white"><%= @data["title"] %></h1>

    <div class="">
      <% @data["genres"].each do |genre| %>
        <div class="badge badge-primary badge-outline"><%= genre["name"] %></div>
      <% end %>
    </div>

    <div class="flex flex-col gap-2">
      <p class="text-sm">
        <%= @data["score"] %> · <%= @data["rating"] %> · <%= @data["episodes"] %> <%= @data["episodes"] > 1 ? "episodes" : "episode" %>
      </p>

      <p class="text-xs"><%= @data["synopsis"] %></p>
    </div>
  </div>

  <% if @data["trailer"] && @data["trailer"]["embed_url"] %>
    <div class="relative w-96 pb-[56.25%] mx-auto">
      <iframe
        class="absolute top-0 left-0 w-full h-full"
        src="<%= @data["trailer"]["embed_url"] %>"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  <% end %>
</div>
